.main_upload {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    // text-align: center;
    padding: 0px;
    color: var(--meal);

    .rs-input-group,input, textarea {
        padding: 12px;
        border-radius: 10px;
        margin: 4px;
        color: var(--dark) !important;
        // margin-right: 30px;
        width: 98% !important;
        font-size: 11px;
    }
    .rs-input-group{
        padding: 0px;
        padding-left: 10px;
        border: none;
        input{
            padding: 6px;
            border: none;
        }
    }
    .dp{
        input, textarea{
            width: 100% !important;
            max-height: 40px;
        }
    }
    span{
        color: var(--meal);
    }
    .grid_50_50 {
        display: grid;
        color: var(--meal);
        grid-template-columns: 50% auto;
        >*{
            display: grid;
            grid-template-columns: var(--template);
        }
    }

    .flex_card {
        display: grid;
        // grid-template-columns: auto 40%;

        >* {
            width: 100%;
        }

        >*:nth-child(1) {
            padding-left: 100px;
            padding-right: 100px;
            // background: linear-gradient(60deg, var(--dark) 700px, var(--dodge) 500px,var(--ocean) 80%);
            background-color: rgba(56, 156, 250, 0.836);
            // border-radius: 50px;
            // margin: 10px;
            // box-shadow: 0px 0px 10px 0px var(--shadow_color);
            height: 90vh;
            overflow: scroll;
        }
    }
}